.alert {
  background-color: #fff5d6;
  border: 1px solid #ffeeba;
  color: #b18a14;
  padding: 1em;
  margin-top: 1em;
  border-radius: 4px;
  font-weight: bold;
}

.alert span {
  display: inline-block;
}